@font-face {
    font-family: 'fink';
    src: url('../fonts/FinkHeavyRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: 'fink', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    background-color: #e1f3bf;
    color: black;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    font-family: 'fink', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 48px;
    color: rgb(185, 136, 44);
    margin: 25px;
    text-shadow: 0px 2px 0px rgb(122, 41, 16);
}


.icon-container {
    display: flex;
    justify-content: center;
}

.icon-container div {
    width: 400px;
}


#bell:hover { 
    transform: rotate(360deg); 
}






  /* Trigger wiggle when hovering over either cherry */
 #cherries:hover #leaf {
    animation: wiggle 0.5s ease-in-out;
  }

  @keyframes wiggle {
    0%  { transform: rotate(0deg); }
    25% { transform: rotate(3deg); }
    75% { transform: rotate(-3deg); }
    100% { transform: rotate(0deg); }
  }
