@font-face {
    font-family: 'fink';
    src: url('../fonts/FinkHeavyRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: 'fink', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    background-color: #e1f3bf;
    color: black;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    font-family: 'fink', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 56px;
    color: rgb(185, 136, 44);
    margin: 60px;
    text-shadow: 0px 2px 0px rgb(122, 41, 16);
}


.icon-container {
    display: flex;
    justify-content: center;
}

.icon-container div {
    width: 400px;
}


 

 #Present:hover {
    animation: wiggle 0.5s ease-in;
  }

  @keyframes wiggle {
    0%  { transform: rotate(0deg); }
    25% { transform: rotate(6deg); }
    75% { transform: rotate(-1deg); }
    100% { transform: rotate(0deg); }
  }

#Bell:hover {
    animation: hover 0.45s ease-in-out infinite alternate;
}

@keyframes hover {
    0%  {transform: translateY(0);}
    100% {transform: translateY(-20px);}
}

#Banana:hover {
    filter: drop-shadow(0px 10px 8px rgba(151, 86, 11, 0.726));
    transform: translateY(-10px);
}



#footer {
    font-size: 42px;
    color: rgb(74, 38, 158);
    padding: 50px;
}